target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/Картинки для Jewel Hunt/Окончательный варианты картинок/Исходники/Amethyst.jpg
/Картинки для Jewel Hunt/Хорошие/Amethyst.jpg
/Картинки для Jewel Hunt/Окончательный варианты картинок/Исходники PNG/Amethyst.png
/Картинки для Jewel Hunt/Окончательный варианты картинок/Исходник PNG 64 прозрачные нормализованные/amethyst.png
/Картинки для Jewel Hunt/Окончательный варианты картинок/Исходник PNG 1024 прозрачные/amethyst.png
/Картинки для Jewel Hunt/Окончательный варианты картинок/Исходник PNG 1024 прозрачные нормализованные/amethyst.png
/Картинки для Jewel Hunt/Окончательный варианты картинок/amethyst.png
/.idea/amplicode-jpa.xml
/Картинки для Jewel Hunt/Окончательный варианты картинок/Исходники/Chrysolite.jpg
/Картинки для Jewel Hunt/Хорошие/Chrysolite.jpg
/Картинки для Jewel Hunt/Окончательный варианты картинок/Исходники PNG/Chrysolite.png
/Картинки для Jewel Hunt/Окончательный варианты картинок/Исходник PNG 64 прозрачные нормализованные/chrysolite.png
/Картинки для Jewel Hunt/Окончательный варианты картинок/Исходник PNG 1024 прозрачные/chrysolite.png
/Картинки для Jewel Hunt/Окончательный варианты картинок/Исходник PNG 1024 прозрачные нормализованные/chrysolite.png
/Картинки для Jewel Hunt/Окончательный варианты картинок/chrysolite.png
/Картинки для Jewel Hunt/Хорошие/closeup photo Nugget, white background, Front Lighting.jpg
/Картинки для Jewel Hunt/Хорошие/closeup watercolor illustration Ruby, white background.jpg
/Картинки для Jewel Hunt/Хорошие/emerald.jpg
/Картинки для Jewel Hunt/Окончательный варианты картинок/Исходник PNG 64 прозрачные нормализованные/emerald.png
/Картинки для Jewel Hunt/Окончательный варианты картинок/Исходник PNG 1024 прозрачные/emerald.png
/Картинки для Jewel Hunt/Окончательный варианты картинок/Исходник PNG 1024 прозрачные нормализованные/emerald.png
/Картинки для Jewel Hunt/Окончательный варианты картинок/emerald.png
/Картинки для Jewel Hunt/Хорошие/emerald2.jpg
/Картинки для Jewel Hunt/Хорошие/emerald3.jpg
/Картинки для Jewel Hunt/Хорошие/emerald4.jpg
/Картинки для Jewel Hunt/Хорошие/emerald5.jpg
/Картинки для Jewel Hunt/Окончательный варианты картинок/Исходник PNG 64 прозрачные нормализованные/nugget.png
/Картинки для Jewel Hunt/Окончательный варианты картинок/Исходник PNG 1024 прозрачные/nugget.png
/Картинки для Jewel Hunt/Окончательный варианты картинок/Исходник PNG 1024 прозрачные нормализованные/nugget.png
/Картинки для Jewel Hunt/Окончательный варианты картинок/nugget.png
/Картинки для Jewel Hunt/Окончательный варианты картинок/Исходники/nugget of gold.jpg
/Картинки для Jewel Hunt/Хорошие/nugget of gold.jpg
/Картинки для Jewel Hunt/Окончательный варианты картинок/Исходники PNG/nugget of gold.png
/Картинки для Jewel Hunt/Хорошие/nugget of gold 2.jpg
/Картинки для Jewel Hunt/illustration/Pearl.jpg
/Картинки для Jewel Hunt/Хорошие/Pearl.jpg
/Картинки для Jewel Hunt/transparent/photo_2024-11-05_17-52-50.jpg
/Картинки для Jewel Hunt/transparent/photo_2024-11-05_17-54-55.jpg
/Картинки для Jewel Hunt/transparent/photo_2024-11-05_17-58-55.jpg
/Картинки для Jewel Hunt/transparent/photo_2024-11-05_18-00-36.jpg
/Картинки для Jewel Hunt/transparent/photo_2024-11-05_18-10-03.jpg
/Картинки для Jewel Hunt/transparent/photo_2024-11-05_18-11-05.jpg
/Картинки для Jewel Hunt/transparent/photo_2024-11-05_18-15-23.jpg
/Картинки для Jewel Hunt/transparent/photo_2024-11-05_18-17-23.jpg
/Картинки для Jewel Hunt/transparent/photo_2024-11-05_18-18-47.jpg
/Картинки для Jewel Hunt/transparent/photo_2024-11-05_18-20-54.jpg
/Картинки для Jewel Hunt/transparent/photo_2024-11-05_18-22-22.jpg
/Картинки для Jewel Hunt/transparent/photo_2024-11-05_18-24-55.jpg
/Картинки для Jewel Hunt/transparent/photo_2024-11-05_18-27-22.jpg
/Картинки для Jewel Hunt/Front Lighting/photo_2024-11-05_18-32-03.jpg
/Картинки для Jewel Hunt/Front Lighting/photo_2024-11-05_18-36-38.jpg
/Картинки для Jewel Hunt/Front Lighting/photo_2024-11-05_18-38-45.jpg
/Картинки для Jewel Hunt/Front Lighting/photo_2024-11-05_18-40-29.jpg
/Картинки для Jewel Hunt/Front Lighting/photo_2024-11-05_18-46-53.jpg
/Картинки для Jewel Hunt/Front Lighting/photo_2024-11-05_18-49-48.jpg
/Картинки для Jewel Hunt/Front Lighting/photo_2024-11-05_18-52-18.jpg
/Картинки для Jewel Hunt/Front Lighting/photo_2024-11-05_18-55-49.jpg
/Картинки для Jewel Hunt/Front Lighting/photo_2024-11-05_19-00-28.jpg
/Картинки для Jewel Hunt/Front Lighting/photo_2024-11-05_19-07-14.jpg
/Картинки для Jewel Hunt/Front Lighting/photo_2024-11-05_19-09-08.jpg
/Картинки для Jewel Hunt/Front Lighting/photo_2024-11-05_19-10-58.jpg
/Картинки для Jewel Hunt/Front Lighting/photo_2024-11-05_19-13-49.jpg
/Картинки для Jewel Hunt/Front Lighting/photo_2024-11-05_19-15-49.jpg
/Картинки для Jewel Hunt/Front Lighting/photo_2024-11-05_19-19-00.jpg
/Картинки для Jewel Hunt/Хорошие/piece of coal.jpg
/Картинки для Jewel Hunt/Хорошие/piece of coal 2.jpg
/Картинки для Jewel Hunt/Хорошие/piece of coal 3.jpg
/Картинки для Jewel Hunt/illustration/Ruby.jpg
/Картинки для Jewel Hunt/Окончательный варианты картинок/Исходник PNG 64 прозрачные нормализованные/ruby.png
/Картинки для Jewel Hunt/Окончательный варианты картинок/Исходник PNG 1024 прозрачные/ruby.png
/Картинки для Jewel Hunt/Окончательный варианты картинок/Исходник PNG 1024 прозрачные нормализованные/ruby.png
/Картинки для Jewel Hunt/Окончательный варианты картинок/ruby.png
/Картинки для Jewel Hunt/illustration/Sapphire.jpg
/Картинки для Jewel Hunt/Окончательный варианты картинок/Исходники/Sapphire.jpg
/Картинки для Jewel Hunt/Хорошие/Sapphire.jpg
/Картинки для Jewel Hunt/Окончательный варианты картинок/Исходники PNG/Sapphire.png
/Картинки для Jewel Hunt/Окончательный варианты картинок/Исходник PNG 64 прозрачные нормализованные/sapphire.png
/Картинки для Jewel Hunt/Окончательный варианты картинок/Исходник PNG 1024 прозрачные/sapphire.png
/Картинки для Jewel Hunt/Окончательный варианты картинок/Исходник PNG 1024 прозрачные нормализованные/sapphire.png
/Картинки для Jewel Hunt/Окончательный варианты картинок/sapphire.png
/Картинки для Jewel Hunt/Хорошие/Sapphire2.jpg
/Картинки для Jewel Hunt/Хорошие/Sapphire3.jpg
/Картинки для Jewel Hunt/Окончательный варианты картинок/Исходник PNG 64 прозрачные нормализованные/stone.png
/Картинки для Jewel Hunt/Окончательный варианты картинок/Исходник PNG 1024 прозрачные/stone.png
/Картинки для Jewel Hunt/Окончательный варианты картинок/Исходник PNG 1024 прозрачные нормализованные/stone.png
/Картинки для Jewel Hunt/Окончательный варианты картинок/stone.png
/Картинки для Jewel Hunt/Виды огранок/восьмиугольная/Аметист.jpg
/Картинки для Jewel Hunt/Виды огранок/Груша/Аметист.jpg
/Картинки для Jewel Hunt/Виды огранок/Сердце/Аметист.jpg
/Картинки для Jewel Hunt/Виды огранок/Виды драгоценных камней.jpg
/Картинки для Jewel Hunt/Виды огранок/Виды огранки камней.jpg
/Картинки для Jewel Hunt/Виды огранок/Виды огранок.jpg
/Картинки для Jewel Hunt/Виды огранок/Группа гранатов.jpg
/Картинки для Jewel Hunt/Виды огранок/Шар/Жемчуг.jpg
/Картинки для Jewel Hunt/Виды огранок/Шар/Жемчуг2.jpg
/Картинки для Jewel Hunt/Виды огранок/восьмиугольная/Изумруд.jpg
/Картинки для Jewel Hunt/Виды огранок/Груша/Изумруд.jpg
/Картинки для Jewel Hunt/Виды огранок/Сердце/Изумруд.jpg
/Картинки для Jewel Hunt/Окончательный варианты картинок/Исходники/Изумруд.jpg
/Картинки для Jewel Hunt/Хорошие/Изумруд.jpg
/Картинки для Jewel Hunt/Окончательный варианты картинок/Исходники PNG/Изумруд.png
/Картинки для Jewel Hunt/Окончательный варианты картинок/Исходники/Камень.jpg
/Картинки для Jewel Hunt/Хорошие/Камень.jpg
/Картинки для Jewel Hunt/Окончательный варианты картинок/Исходники PNG/Камень.png
/Картинки для Jewel Hunt/Хорошие/Камень2.jpg
/Картинки для Jewel Hunt/Хорошие/Камень3.jpg
/Картинки для Jewel Hunt/Виды огранок/основные виды огранки драгоценных камней.jpg
/Картинки для Jewel Hunt/Виды огранок/Промт  с огранками.txt
/Картинки для Jewel Hunt/Виды огранок/восьмиугольная/Рубин.jpg
/Картинки для Jewel Hunt/Виды огранок/Груша/Рубин.jpg
/Картинки для Jewel Hunt/Виды огранок/Сердце/Рубин.jpg
/Картинки для Jewel Hunt/Окончательный варианты картинок/Исходники/Рубин.jpg
/Картинки для Jewel Hunt/Окончательный варианты картинок/Исходники PNG/Рубин.png
/Картинки для Jewel Hunt/Хорошие/Рубин -s1000.jpg
/Картинки для Jewel Hunt/Хорошие/Рубин3.jpg
/Картинки для Jewel Hunt/Хорошие/Рубин4.jpg
/Картинки для Jewel Hunt/Хорошие/Рубин5.jpg
/Картинки для Jewel Hunt/Хорошие/Рубин6.jpg
/Картинки для Jewel Hunt/Хорошие/Рубин7.jpg
/Картинки для Jewel Hunt/Виды огранок/восьмиугольная/Самородок.jpg
/Картинки для Jewel Hunt/Виды огранок/Груша/Самородок.jpg
/Картинки для Jewel Hunt/Виды огранок/Сердце/Самородок.jpg
/Картинки для Jewel Hunt/Хорошие/Самородок.jpg
/Картинки для Jewel Hunt/Виды огранок/восьмиугольная/Сапфир.jpg
/Картинки для Jewel Hunt/Виды огранок/Груша/Сапфир.jpg
/Картинки для Jewel Hunt/Виды огранок/Сердце/Сапфир.jpg
/Картинки для Jewel Hunt/Виды огранок/восьмиугольная/Уголь.jpg
/Картинки для Jewel Hunt/Виды огранок/Груша/Уголь.jpg
/Картинки для Jewel Hunt/Виды огранок/Сердце/Уголь.jpg
/Картинки для Jewel Hunt/Виды огранок/восьмиугольная/Хризолит.jpg
/Картинки для Jewel Hunt/Виды огранок/Груша/Хризолит.jpg
/Картинки для Jewel Hunt/Виды огранок/Сердце/Хризолит.jpg
